@model List<BLOGCORE.APPLICATION.Core.DTOs.PostDto>

@foreach (var item in Model)
{
    <li class="d-flex mb-3 pb-1">
        <article class="d-flex">
            <a asp-controller="Posts" asp-action="VerPost" asp-route-id="@item.ID">
                <img class="me-3 rounded-circle" src="data:image/png;base64, @item.Imagen" alt="" style="max-width: 70px;">
            </a>
            <div class="media-body">
                <a  asp-controller="Posts" asp-action="VerPost" asp-route-id="@item.ID">
                    <h6 class="text-3 text-color-light opacity-8 ls-0 mb-1">@item.Titulo</h6>
                    @*<p class="text-2 mb-0">12:53 AM Dec 19th</p>*@
                    <p class="text-2 mb-0">@item.Fecha.ToLocalTime()</p>
                @*<p class="text-2 mb-0">@item.Fecha.ToShortTimeString() @item.Fecha.ToString("MMM") @item.Fecha.ToString("dd")</p>*@
                </a>
            </div>
        </article>
    </li>
}