
@model BLOGCORE.UI.Website.Helper.PaginatedList<BLOGCORE.APPLICATION.Core.DTOs.PostDto>

@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="alert">
    <div>
        <a asp-controller="Posts" asp-action="Registrar" class="btn btn-success">Crear Post</a>
    </div>
</div>


@if (Model.Any())
{


    @if (ViewBag.CantidadPosts > 3)
    {
        <div class="text-center">
            <a asp-action="MisPosts"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Anterior
            </a>
            <a asp-action="MisPosts"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Siguiente
            </a>
        </div>
    }
    <br />
    <div class="row">
        <div class="col">
            <div class="blog-posts">

                <div class="masonry-loader masonry-loader-showing">
                    <div class="masonry row" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">
                        @foreach (var item in Model)
                        {
                            <div class=" bg- masonry-item no-default-style col-md-4">
                                <article class="post post-medium border-0 pb-0 mb-5">
                                    <div class="post-image">
                                        <a asp-controller="Posts" asp-action="VerPost" asp-route-id="@item.ID">
                                            <img src="@item.Imagen" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <div class="row">
                                            <div class="col-sm-6 text-center">
                                                <span class="d-block mt-2"><a asp-controller="Posts" asp-action="Registrar" asp-route-id="@item.ID" class="btn btn-xs btn-info text-1 text-uppercase">Editar</a></span>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <span class="d-block mt-2"><button type="button" onclick="EliminarRegistro('@Url.Action("EliminarPost", "Posts")', '@Url.Action("MisPosts", "Posts")', @item.ID)" class="btn btn-xs btn-danger text-1 text-uppercase">Eliminar</button></span>
                                            </div>
                                        </div>
                                        <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a asp-controller="Posts" asp-action="VerPost" asp-route-id="@item.ID">@item.Titulo</a></h2>
                                        <div class="post-meta">
                                            <span><i class="far fa-calendar"></i>@item.FechaCreacion </span><br />
                                            <span><i class="far fa-eye"></i>@item.Vistas Vistas Usuario</span><br />
                                            @*<span><i class="far fa-eye"></i><a asp-controller="Posts" asp-action="VistasUsuario" asp-route-id="@item.ID">@item.Vistas Vistas Usuario</a></span><br />*@
                                            @*<span><i class="far fa-eye"></i>@item.VistasPaginaUsuario Vistas Pantalla Usuario</span><br />*@
                                            <span><i class="far fa-eye"></i>@item.VistasPaginaAnonimo Vistas Anonimas</span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @if (ViewBag.CantidadPosts > 3)
    {
        <div class="text-center">
            <a asp-action="MisPosts"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Anterior
            </a>
            <a asp-action="MisPosts"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Siguiente
            </a>
        </div>
    }

}
else
{
    <p>No hay posts</p>
}
