@model BLOGCORE.APPLICATION.Core.DTOs.PostDto
<br />
<br />
<div class="row">
    <div class="col">
        <div class="blog-posts single-post">
            @if (Model is null)
            {
                <h1>Upss! post no encontrado</h1>
            }
            else
            {
                <article class=" post post-large blog-single-post border-0 m-0 p-0">
                    <div class="post-date ms-0">
                        @{
                            var fecha = DateTime.Parse(Model.FechaCreacion);
                        }
                        <span class="day">@fecha.Day</span>
                        <span class="month">@fecha.ToString("MMM")</span>
                    </div>
                    <div class="post-content ms-0">
                        <h2 class="font-weight-semi-bold"><a asp-controller="Posts" asp-action="VerPost" asp-route-id="@Model.ID">@Model.Titulo</a></h2>
                        <div class="post-meta">
                            <span><i class="far fa-user"></i> Por <a asp-controller="Perfil" asp-action="Index" asp-route-username="@Model.Username">@Model.Autor</a> </span>
                            <span><i class="far fa-eye"></i> <a href="#">@Model.Vistas Vistas</a></span>
                        </div>
                        <img src="@Model.Imagen" class="img-fluid float-start me-4 mt-2" alt="" width="550px" />
                        <p>@Html.Raw(Model.Cuerpo)</p>
                    </div>
                </article>
            }
        </div>
    </div>
</div>
