@model List<BLOGCORE.APPLICATION.Core.DTOs.AccesoUsuarioDto>
<br />
<br />
<br />
@if (Model is null)
{
    <p>No hay datos</p>
}
else
{
    <table id="table-usuario" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Email</th>
                <th>Tipo</th>
                <th>Mensaje</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @*@{ long cont = 1; }*@
            @foreach (var item in Model.OrderByDescending(x => x.Id))
            {
                <tr>
                    @*<td>@cont</td>*@
                    <td>@item.Email</td>
                    <td>@item.Ip</td>
                    <td>@item.DescripcionAcceso</td>
                    <td>@item.FechaAcceso</td>
                </tr>
                //cont++; 
            }
        </tbody>
    </table>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table-usuario').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                },
                order: [
                    [3, 'desc']
                ]
            });
        });
    </script>

}
    